<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link href="../css/styles.css" rel="stylesheet" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>

    <header>
        <div>
            <img id="logo" src="../images/logo-mercado-liebre.svg">
        </div>
        <input type="text" id="name" class="buscador" placeholder="Buscar productos, marcas">
        <br>

        <div>
            <i class="fas fa-search search" style="padding: 3px;"></i>
        </div>

        <p class="textBody"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

        <nav id="site-nav">
            <ul>
                <p>Ofertas</p>
                <p>Tiendas Oficiales</p>
                <p>Vender</p>
                <p>Ayuda</p>
            </ul>
        </nav>
        
        <nav id="login-nav">
            <ul>
                <li type="disc" class="fas fa-id-card"><a href="#">Creá tu cuenta</a></li>
                <li type="disc" class="fas fa-sign-out-alt derecha"><a href="#">Ingresá</a></li>
                <li type="disc" class="fas fa-shopping-basket derecha"><a href="#">Mis compras</a></li>
            </ul>
        </nav>

        <nav id="burger-nav">
            <div id="burger-menu-container">
                <i class="fas fa-bars" id="burger-logo"></i>
            </div>
        </nav>
        
    </header>

    <main>
        <div class="products">

            <h3 class="titulares"><b>Basado en tu última visita</b></h3>
            
            <div class="product-container">
                <div class="centrado">
                    <img src="../images/img-cafetera-moulinex.jpg" class="img-articulo" />
                </div>
                <div class="info-producto">
                    <i class="fas fa-truck" id="logo-camion"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <p><b>Cafetera Moulinex</b></p>
                </div>
            </div>

            <div class="product-container">
                <div class="centrado">
                    <img src="../images/img-macbook-pro-2019.jpg" class="img-articulo" />
                </div>
                <div class="info-producto">
                    <i class="fas fa-truck" id="logo-camion"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <p><b>MacBook Pro 2019x</b></p>
                </div>
            </div>

            <div class="product-container">
                <div class="centrado">
                    <img src="../images/img-samsung-galaxy-s10.jpg" class="img-articulo" />
                </div>
                <div class="info-producto">
                    <i class="fas fa-truck" id="logo-camion"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <p><b>Samsung Galaxy S10</b></p>
                </div>
            </div>

            <div class="product-container">
                <div class="centrado">
                    <img src="../images/img-tv-samsung-smart.jpg" class="img-articulo" />
                </div>
                <div class="info-producto">
                    <i class="fas fa-truck" id="logo-camion"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <p><b>SmartTv Samsung 43"</b></p>
                </div>
            </div>

            <br>
            <h3 class="titulares"><b>Sección de Ofertas</b></h3>
            <div class="product-container">
                <div class="centrado">
                    <img src="../images/img-cafetera-moulinex.jpg" class="img-articulo" />
                </div>
                <div class="info-producto">
                    <i class="fas fa-truck" id="logo-camion"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <p><b>Cafetera Moulinex</b></p>
                </div>
            </div>

            <div class="product-container">
                <div class="centrado">
                    <img src="../images/img-macbook-pro-2019.jpg" class="img-articulo" />
                </div>
                <div class="info-producto">
                    <i class="fas fa-truck" id="logo-camion"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <p><b>MacBook Pro 2019x</b></p>
                </div>
            </div>

            <div class="product-container">
                <div class="centrado">
                    <img src="../images/img-samsung-galaxy-s10.jpg" class="img-articulo" />
                </div>
                <div class="info-producto">
                    <i class="fas fa-truck" id="logo-camion"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <p><b>Samsung Galaxy S10</b></p>
                </div>
            </div>

            <div class="product-container">
                <div class="centrado">
                    <img src="../images/img-tv-samsung-smart.jpg" class="img-articulo" />
                </div>
                <div class="info-producto">
                    <i class="fas fa-truck" id="logo-camion"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <p><b>SmartTv Samsung 43"</b></p>
                </div>
            </div>
        </div>
    </main>
</body>


<footer>
    <div class="bloque-footer">
        <i class="fas fa-credit-card icono-footer"></i>
        <p style="font-size: 18px;"><b>Pagá con tarjeta o en efectivo</b></p>
        <P class="textBody">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="bloque-footer">
        <i class="fas fa-gift icono-footer"></i>
        <p style="font-size: 18px;"><b>Envío gratis desde $ 2.500</b></p>
        <P class="textBody">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado
            Puntos.</p>
    </div>
    <div class="bloque-footer">
        <i class="fas fa-user-shield icono-footer"></i>
        <p style="font-size: 18px;"><b>Seguridad, de principio a fin</b></p>
        <P class="textBody">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
    </div>
    <p><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></p>
</footer>

</html>